 .prof-pic{
	width: 200px;
	height: 250px;
	border: 1px solid black;
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
 }
 .container
 {
	width: 1200px!important;
 }
 textarea
 {
 	resize: none;
 }
 .make-post textarea
 {
	width: 500px;
	height: 150px;
 }
.make-post button{
	float: right;
	margin-right: 62px;
}
.make-post
{
	position: relative;
	right: 22px!important;
}
 .prof-pic-hover{
	display:none!important;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: gray;
	opacity:0.6;
 }
.prof-pic-hover .file-field{
	width: 150px;
	left: -5px;
	top: 100px;
}
 .prof-pic:hover .prof-pic-hover{
	display:block!important;
	transition:0.6s;
 }
.prof-pic-hover *{
	cursor:pointer;
	margin-top:0px !important;
}
.home-user-header h4
{
	display: inline-block;
}

.home-user-header
{	
	min-width: 210px;
	margin-bottom: 50px;
}
.input-field .validate
{
	height: 37px!important;
}

.input-field
{	margin: 0!important;
	float: left!important;
}
.input-field .btn
{	
	padding-top: -5px;
	height: 37px!important;
}

.home-user-posts{
	margin-top: 100px;
	background: white;
	width: 600px!important;
	height: 900px;
	box-shadow: 1px 2px 1px 0px rgba(0, 0, 0, 0.2);
}
